# Tuples

indexable, iterable;, immutable, fixed length, fixed order

pack, unpack

In [23]:
record = ('ABCD', 2018, 1, 9, 2532432.56, 342343.72, 234324.33, 34234.72)
# symbol, year, month, day, open, high, low, close = record

In [24]:
symbol, year, month, day, *others, close = record
# This is not working in Jupyter note book but works in python3

SyntaxError: invalid syntax (<ipython-input-24-1dc0737db159>, line 1)

Deep unpacking

In [20]:
color, (x, y, z) = ("red", (1, 2, 3))
x

1

namedtuple is a function, which generates a class

In [26]:
from collections import namedtuple
Point2D = namedtuple('Point2D', ['x', 'y'])
pt1 = Point2D(10, 20)

In [29]:
pt1

Point2D(x=10, y=20)

In [31]:
Point3D = namedtuple('Point3D', ['x', 'y', 'z'])

In [34]:
pt2 = Point3D(10, 20, 30)

In [36]:
pt2

Point3D(x=10, y=20, z=30)

In [40]:
pt3 = Point3D(10, 20, 30)
pt3 is pt2

False

In [45]:
pt3._asdict()

OrderedDict([('x', 10), ('y', 20), ('z', 30)])

Modifying and extending namedtuple using _replace method

In [48]:
pt4 = pt3._replace(x=50)
pt4

Point3D(x=50, y=20, z=30)

Extending a named tuple

In [52]:
Point4D = namedtuple('Point4D', Point3D._fields + ('t',))
pt44 = Point4D(10, 20, 30, 40)
pt44

Point4D(x=10, y=20, z=30, t=40)